{% extends "network/layout.html" %}
{% load static %}

{% block title %}{{ username }}'s following{% endblock %}

{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
    <div id="new-post">
      <h3>New Post</h3>
      <form id="post-form">
          <textarea id="post-body"></textarea>
      </form>
      <button id="create" class="btn btn-sm btn-outline-secondary">Post</button>
    </div>
  {% endif %}

   
  {% for post in posts %}
  <div id="post-container">
      <a href="{% url 'user' post.user.username 1 %}" class="username-link">{{ post.user.username }}</a>
      {% if post.user == username %}
        <br><button id="edit-link-{{ post.id }}" class="edit-link" onclick="edit_post({{ post.id }})">Edit</button>
      {% endif %}

      <div id="content-{{ post.id }}">{{ post.content }}</div>

      <div id="textarea-container-{{ post.id }}" style="display: none;">
        <textarea id="textarea-{{ post.id }}">{{ post.content }}</textarea>
        <button onclick="save_post({{ post.id }})">Submit</button>
      </div>
      
      {{ post.timestamp }} <br>
      <button id="like-{{ post.id }}" onclick="toggle_like({{ post.id }})" class="like-btn">♥ {{ post.likes_users.count }}</button>
  </div>
  {% endfor %}
  <br>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if has_prev_page %}
            <li class="page-item"><a class="page-link" href="{% url 'all_posts' prev_page%}">Previous</a></li>
        {% endif %}
      {% for page in pages %}
        <li class="page-item"><a class="page-link"  href="{% url 'all_posts' page.number%}">{{ page.number }}</a></li>
      {% endfor %}
      {% if has_next_page %}
        <li class="page-item"><a class="page-link" href="{% url 'all_posts' next_page %}">Next</a></li>
      {% endif  %}
      
    </ul>
  </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index7.js' %}"></script>
{% endblock %}


