{% extends "network/layout.html" %}
{% load static %}

{% block title %}{{ username }}'s following{% endblock %}

{% block body %}
    <h1>Post from the people you're following</h1>

    <h2>Posts</h2>
    {% for post in posts %}
    <div id="post-container">
        <a href="{% url 'user' post.user.username %}">{{ post.user.username }}</a><br>
        {{ post.content }} <br>
        {{ post.timestamp }} <br>
        Likes: {{ post.likes }} <br>
    </div>
    {% endfor %}
    <br>

{% endblock %}


